params {

    work_dir = "/$PWD" 
    output_dir = "/f/jianhua/asso-test/output/fujilian/"
    output_pat = "TIV"

    input_dir = "/f/jianhua/asso-test/single_run/"
    input_pat = "sing_run"

    pheno = '/f/jianhua/asso-test/single_run/tiv.txt'
    covar = '/f/jianhua/asso-test/single_run/covar.txt'
    
    chromosomes_List = 22
    chromosomeSizesFile = "/f/jianhua/asso-test/hg19_chromosomes_size.txt"

    maxForks_SNPTEST = 20

}

timeline { 
    enabled=true
    file = "${params.output_dir}/${params.input_pat}_timeline.html"
}

report {
    enabled = true
    file = "${params.output_dir}/${params.input_pat}_runtime.html"
}