params {

    work_dir = "/$PWD" 
    output_dir = "../impute_with_1KG_Novo_phased"

    input_dir = "../benchmark/"
    input_pat = "benchmark_masked"
    
    chromosomes_List = [21,22]
    chromosomeSizesFile = "../hg19_chromosomes_size/hg19_chromosomes_size.txt"

    input_vcf = "../unphased_vcf/test_unphased.vcf.gz"

    map_dir = "../genetic_map/"
    map_pattern = "genetic_map_chr%s_combined_b37.txt"

    ref_panel_dir = "../1000G/"
    ref_hap_pattern = "1000GP_Phase3_chr%s.hap.gz"
    ref_leg_pattern = "1000GP_Phase3_chr%s.legend.gz"

}