params {

    work_dir = "/$PWD" 
    output_dir = "./output/impute_with_1KG_prephasing"

    input_dir = "/f/mulinlab/jianhua/chimgen/gwas-pipeline/input/"
    input_pat = "chimgen_1_qc_first10"
    
    chromosomes_List = [22]
    chromosomeSizesFile = "/f/mulinlab/jianhua/chimgen/Mulinlab_Imputation/hg19_chromosomes_size/hg19_chromosomes_size.txt"

    map_dir = "/f/mulinlab/jianhua/chimgen/Mulinlab_Imputation/genetic_map/"
    map_pattern = "genetic_map_chr%s_combined_b37.txt"

    ref_panel_dir = "/f/mulinlab/jianhua/chimgen/Mulinlab_Imputation/1000G/"
    ref_hap_pattern = "1000GP_Phase3_chr%s.hap.gz"
    ref_leg_pattern = "1000GP_Phase3_chr%s.legend.gz"
    ref_sample = "1000GP_Phase3.sample"

}

process {
    executor='sge'
    queueSize=2
    queue='main.q@CNV'
    clusterOptions = '-V -S /bin/bash'
}

timeline { 
    enabled=true
    file = "${params.output_dir}/${params.input_pat}_timeline.html"
}

report {
    enabled = true
    file = "${params.output_dir}/${params.input_pat}_runtime.html"
}