params {

    work_dir = "/$PWD" 
    output_dir = "./output/impute_with_1KG"

    input_dir = "/home/jianhua/chimgen/gwas-pipeline/input/"
    input_pat = "chimgen_1_first50"
    
    chromosomes_List = [22]
    chromosomeSizesFile = "/home/jianhua/chimgen/benchmark_imputation/hg19_chromosomes_size/hg19_chromosomes_size.txt"

    map_dir = "/home/jianhua/imputation_panel/genetic_maps/"
    map_pattern = "genetic_map_chr%s_combined_b37.txt"

    ref_panel_dir = "/home/jianhua/imputation_panel/1000GP_Phase3/"
    ref_hap_pattern = "1000GP_Phase3_chr%s.hap.gz"
    ref_leg_pattern = "1000GP_Phase3_chr%s.legend.gz"

    maxForks = 4

}

timeline { 
    enabled=true
    file = "${params.output_dir}/${params.input_pat}_timeline.html"
}

report {
    enabled = true
    file = "${params.output_dir}/${params.input_pat}_runtime.html"
}