params {

    work_dir = "/$PWD"
    input_dir = "${params.work_dir}/input"
    output_dir = "${params.work_dir}/output"
    input_pat = "chimgen_1"

    pca_ref_dir = "/f/mulinlab/jianhua/one_thousand_genome/pca_chinese"
    pca_ref_pat = "chinese_phase3"
    population_file = "/f/mulinlab/jianhua/one_thousand_genome/pca_chinese/phase3_CHS&CHB_pop.txt"

    cut_maf = 0.01
    cut_mind = 0.02
    cut_geno = 0.05
    cut_hwe = 0.00001
    pi_hat = 0.1875
    f_lo_male = 0.8
    f_hi_female = 0.2
    times_of_meanhet = 3
}

timeline { 
    enabled=true
    file = "${params.output_dir}/${params.input_pat}_timeline.html"
}

report {
    enabled = true
    file = "${params.output_dir}/${params.input_pat}_runtime.html"
}
