params {

    work_dir = "/$PWD"
    input_dir = "${params.work_dir}/input"
    output_dir = "${params.work_dir}/output/qc"
    input_pat = "test"

    pca_ref_dir = "./pca_ref/"
    pca_ref_pat = "hapmap3_pca"

    cut_maf = 0.0001
    cut_mind = 0.03
    cut_geno = 0.05
    cut_hwe = 0.00001
    pi_hat = 0.1875
    f_lo_male = 0.8
    f_hi_female = 0.2
    times_of_meanhet = 3

    pca_legend_label = "Sample"
}

// process {
// executor='sge'
//  queue='main.q'
//  clusterOptions = '-V -S /bin/bash'
// }

timeline { 
    enabled=true
    file = "${params.output_dir}/${params.input_pat}_timeline.html"
}

report {
    enabled = true
    file = "${params.output_dir}/${params.input_pat}_runtime.html"
}
