params {

    work_dir = "/$PWD" 
    output_dir = "./output/association"

    input_dir = "./output/imputation"
    input_pat = "test-nd-c-c"
    
    chromosomes_List = 1..22
    chromosomeSizesFile = "./hg19_chromosomes_size/hg19_chromosomes_size.txt"

    maxForks_SNPTEST = 20

}

timeline { 
    enabled=true
    file = "${params.output_dir}/${params.input_pat}_timeline.html"
}

report {
    enabled = true
    file = "${params.output_dir}/${params.input_pat}_runtime.html"
}